@media  only screen and (max-width: 720px) {
   


   body{
      overflow-x: hidden;
   }

    /* nav section */
   .backblack{
    display: block;
    content:' ';
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    z-index: 10000;
    opacity: 0;
    transition: 0.5s ease;
    transform: translate(45rem);
   }

   .backblack-show{
    opacity: 0.9;
    transform: translate(0);
   }

   .header{
    padding: 0rem 1rem;
   }


   .navbar{
    display: block;
    position: fixed;
    top:3%;
    right: 2%;
    z-index: 10000000;
   }

   .navbar img{
    width: 60px;
   }

    .navmain{
    position: absolute;
    top: 80%;
    left: 35%;
    opacity: 0;
    transform: translateY(-45rem);
    transition: 0.5s ease;
    }

    .nav-show{
     opacity: 1;
     transform: translateY(0);
    }

    .navmain .navlist{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navmain .navlist .navitem{
        margin-top: 5rem;
        margin-left: 0;
        font-size: 2.8rem;
    }

    .navmain .navlist .contact{
        margin-right: 0;
    }

    .header .navmain .navlist .navlogin,.header .navmain .navlist  .navsignup{
        font-size: 2rem;
    }

 /* end nav section */
/* common section */
.msec{
    width: 100%;
    height: 60rem;
}
/* end common section */

 /* main section */
 .main{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
    min-height: 50rem;
 }

 .main:before{
    opacity: 0.7;
 }

 .mainr{
    width: 90%;
    position: relative;
 }

 .mainhead hr{
    width: 25%;
   display: block;
   padding: 0.9px;
   background-color: whitesmoke;
 }

 .mainleft{
    position: relative;
 }

 .mainhead{
    font-size: 4rem;
    line-height: 7.5rem;
    border-bottom: 2px solid white;
 }
 .mainl{
    display: none;
 }

 .mainbot{
    font-size: 1rem;
    letter-spacing: none;
    line-height: 2.3rem;
 }

 .mainbot p{
    position: relative;
    z-index: 100;
    font-size: 1.1rem;
    padding: 1.5rem;
 }

 .mainbot p:before{
    content: ' ';
 position: absolute;
 left:0;
 right:0;
 top:0;
 bottom:0;
 background-color: black;
 width: 100%;
 height: 100%;
 z-index: -1;
 opacity: 0.2;
 border-radius: 10px;
 }

 .mainbot button{
    margin-left: 0.5rem;
    margin-top: 2rem;
 }
 
 .mainright{
    height: 65rem;
 }

.mr{
    width: 100%;
    margin-top: 2rem;
}

.mimg{
    width: 60%;
}

.mtext{
    width: 100%;
    font-size: 1.1rem;
    line-height: 1.7rem;
    padding: 0.2rem  1.9rem;
}
 /* end main section */

 /* offer section*/
 .or{
   flex-direction: column;
   align-items: center;
   height: 80rem;
   margin-top: 2rem;
 }

 .oimg{
   
 }

 .otext{
   height: 66%;
 }

 .o1{
   flex-direction: column-reverse;
 }

 .o2{
   /* flex-direction: column-reverse; */
 }

 .otext1{
   margin-left: 2rem;
 }

 .oimg2{
   margin-left: 0rem;
 }
 /* end offer section */


/* best places */
.best-places{

}

.bp-bot{
   width: 100%;
   flex-direction: column;
   justify-content: center;
}


/* end best places */

/* contact */
.contact-cont{
   flex-direction: column;
   margin-top: 0;
}

.contact-sec{
   margin: 2rem;
}

.contact-form{
   width: 100%;
}

.contact-item{
   width: 80%;
   margin-top: 0rem;
   margin-left: 4rem;
}
/* end contact */

/* place carousel */
.car li, .car img {
   width: 350px;
   height: 350px;
   filter: grayscale(0);
}
/* end place carousel */

}