@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
    font-size: 10px;
}

body{
    width: 100%;
    height: 100%;
}


/* header */
.backblack{
    display: none;
}

.navbar{
    display: none;
}

#header{
  width: 100%;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 4rem;
    /* border: 2px solid black; */
    position: fixed;
    background-color: transparent;
    color: white;
    z-index: 10000;
    }

.header .navlogo img{
    width: 100px;
}

.navmain .navlist{
    display: flex;
    align-items: center;
    list-style: none;
}

.navmain .navlist .navitem{
    margin-left: 2.5rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Ubuntu';
}

.navmain .navlist .navlink{
    color: white;
}

.navmain .navlist .contact{
    margin-right: 5rem;
}

.header .navsignup{
    border: 1px solid white;
    padding: 1rem 2rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.header .navlogin{
    padding: 1.2rem 2.5rem;
    background-color: rgb(35, 123, 107);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
} 
/* end header */

/* common section */
.main > *,.header > *{
    z-index: 1000;
}

.msec,.osec{
    width: 50%;
    /* border: 2px solid white; */
    height: 67rem;
    padding: 2rem;
}
/* end common section */

/* main */
#main{
    width: 100%;
}

.main{
    width: 100%;
    display: flex;
    /* height: 150rem; */
    /* justify-content: center; */
    padding-top: 12rem;
    background-image: url('./img/main.jpg');
    background-size: 100% 100%;
    color: white;
    position: relative;
}


.main:before{
 content: ' ';
 position: absolute;
 left:0;
 right:0;
 top:0;
 bottom:0;
 background-color: black;
 width: 100%;
 height: 100%;
 z-index: 1;
 opacity: 0.5;
}





/* main left */
.mainleft{
    display: flex;
}

.mainl{
    width: 20%;
    display: flex;
    flex-direction: column;
   /* border: 2px solid white; */
   z-index: 100000;
}

.mainl hr{
    padding: 0.04rem;
    background-color: white;
    width: 28rem;
    transform: rotate(90deg);
    margin-top: 16.5rem;
    margin-left: -10.5rem;
}


.mainl .social-nav{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-top: 20rem;
}

.mainl .social-nav img{
    width: 32px;
    margin-top: 2rem;
}



.mainr{
    width: 70%;
}

.mainhead hr{
 display: none;
}

.mainhead{
    width: 100%;
    font-size: 7rem;
    /* font-family: 'Lobster'; */
    font-family: 'Ubuntu';
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 1rem;
}

.mainbot{
    width: 100%;
    font-family: 'Lato';
    font-size: 1.5rem;
    margin-top: 2rem;
    letter-spacing: 1px;
}

.mainbot button{
    display: flex;
    align-items: center;
    margin-top: 4rem;
    padding: 1rem 5rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    background-color: rgba(11, 132, 110, 0.851);
    color: white;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.mainbot button img{
    width: 20px;
    margin-left: 1rem;
}

/* end main left */


/* main right */

.mrsec{
    /* border: 2px solid white; */
    height: 52rem;
    display: flex;
    flex-direction: column;
}

.mr{
    width: 90%;
    height: 50%;
    /* border: 2px solid beige; */
    display: flex;
    justify-content: center;
    padding: 1rem;
    position: relative;
}

.mr:before{
     content: ' ';
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    opacity: 0.2;
    border-radius: 1rem;
}

.mimg{
    width: 40% ;
    height: 100%;
    /* border: 2px solid bisque; */
    position: relative;
    /* border-radius: 1rem; */
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 2rem;
}

.mimg:before{
    content: ' ';
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    opacity: 0.1;
}

.mtext{
    width: 70%;
    padding: 2rem;
    font-size: 1.4rem;
    position: relative;
}



.mr2{
    margin-top: 2rem;
}

.m1img{
      background-image: url('./img/mr1.jpg');
      background-size: cover;
}


.m2img{
     background-image: url('./img/mr2.jpg');
      background-size: cover;
}





/* end main right */


/* end main */

/* offer */
#offer{
    position: relative;
    width: 100%;
}

.offer{
    display: flex;
}

/* end offer */