@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
    font-size: 10px;
}

body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}


/* header */
.backblack{
    display: none;
}

.navbar{
    display: none;
}

#header{
  width: 100%;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 4rem;
    /* border: 2px solid black; */
    position: fixed;
    background-color: transparent;
    color: white;
    z-index: 10000;
}

.headerback:before{
    content: ' ';
    width: 100%;
    background-color: black;
    position: absolute;
    top:0;
    right: 0;
    left:0;
    bottom: 0;
    opacity: 0.6;
    transition: 1s ease;
}



.header .navlogo img{
    width: 100px;
    margin-left: -3.5rem;
}

.navmain .navlist{
    display: flex;
    align-items: center;
    list-style: none;
}

.navmain .navlist .navitem{
    margin-left: 2.5rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Ubuntu';
}

.navmain .navlist .navlink{
    color: white;
}

.navmain .navlist .contact{
    margin-right: 5rem;
}

.header .navsignup{
    border: 1px solid white;
    padding: 1rem 2rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.header .navlogin{
    padding: 1.2rem 2.5rem;
    background-color: rgb(35, 123, 107);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
} 
/* end header */

/* common section */
.main > *,.header > *{
    z-index: 1000;
}

.msec,.osec{
    width: 50%;
    /* border: 2px solid white; */
    height: 67rem;
    padding: 2rem;
}
/* end common section */

/* main */
#main{
    width: 100%;
}

.main{
    width: 100%;
    display: flex;
    /* height: 150rem; */
    /* justify-content: center; */
    padding-top: 12rem;
    background-image: url('./img/main2.jpg');
    background-size: 100% 100%;
    color: white;
    position: relative;
}


.main:before{
 content: ' ';
 position: absolute;
 left:0;
 right:0;
 top:0;
 bottom:0;
 background-color: black;
 width: 100%;
 height: 100%;
 z-index: 1;
 opacity: 0.5;
}





/* main left */
.mainleft{
    display: flex;
}

.mainl{
    width: 20%;
    display: flex;
    flex-direction: column;
   /* border: 2px solid white; */
   z-index: 100000;
}

.mainl hr{
    padding: 0.04rem;
    background-color: white;
    width: 28rem;
    transform: rotate(90deg);
    margin-top: 16.5rem;
    margin-left: -10.5rem;
}


.mainl .social-nav{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-top: 20rem;
}

.mainl .social-nav img{
    width: 32px;
    margin-top: 2rem;
}



.mainr{
    width: 70%;
}

.mainhead hr{
 display: none;
}

.mainhead{
    width: 90%;
    font-size: 6.5rem;
    /* font-family: 'Lobster'; */
    font-family: 'Ubuntu';
    /* font-family: 'Tajawal', sans-serif; */
    text-transform: capitalize;
    /* letter-spacing: 2px; */
    /* margin-top: 1rem; */
    line-height: 11rem;
}

.mainhead span{
    /* color:rgb(18, 168, 140); */
    /* font-family: 'Tajawal', sans-serif; */
    text-transform: capitalize;
}

.mainbot{
    width: 100%;
    font-family: 'Lato';
    font-size: 1.5rem;
    margin-top: 2rem;
    letter-spacing: 1px;
}

.mainbot button{
    display: flex;
    align-items: center;
    margin-top: 4rem;
    padding: 1rem 5rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    background-color: rgba(11, 132, 110, 0.851);
    color: white;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.mainbot button img{
    width: 20px;
    margin-left: 1rem;
}

/* end main left */


/* main right */

.mrsec{
    /* border: 2px solid white; */
    height: 52rem;
    display: flex;
    flex-direction: column;
}

.mr{
    width: 90%;
    height: 50%;
    /* border: 2px solid beige; */
    display: flex;
    justify-content: center;
    padding: 1rem;
    position: relative;
}

.mr:before{
     content: ' ';
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    opacity: 0.2;
    border-radius: 1rem;
}

.mimg{
    width: 40% ;
    height: 100%;
    /* border: 2px solid bisque; */
    position: relative;
    /* border-radius: 1rem; */
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 2rem;
}

.mimg:before{
    content: ' ';
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    opacity: 0.1;
}

.mtext{
    width: 70%;
    padding: 2rem;
    font-size: 1.4rem;
    position: relative;
}



.mr2{
    margin-top: 2rem;
}

.m1img{
      background-image: url('./img/mr1.jpg');
      background-size: cover;
}


.m2img{
     background-image: url('./img/mr2.jpg');
      background-size: cover;
}





/* end main right */


/* end main */

/* offer */
#offer{
    position: relative;
    width: 100%;
}

.offer{
    width: 100%;
    min-height: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: antiquewhite; */
    background-color: white;
    padding: 2rem;
    overflow-x: hidden;
}

.or{
    width: 85rem;
    height: 35rem;
    margin-top: 6rem;
    padding: 1rem;
    display: flex;
}

.oimg{
    width: 40%;
    height: 100%;
    border-radius: 1rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    /* border-top-left-radius: 1rem;
    border-bottom-right-radius: 2rem; */
}

.otext{
    width: 45%;
    height: 100%;
    /* border: 2px solid black; */
    padding: 1rem;
    font-family: 'Ubuntu';
}

.oimg1{
    background-image: url('./img/o1.jpg');
    background-size: cover;
}

.oimg2{
    background-image: url('./img/o2.jpg');
    background-size: cover;
    margin-left: 2rem;
}

.otext1{
    margin-left: 4rem;
}


.otext .othead span{
    color: rgb(73, 73, 229);
}

.otext .othead{
    font-size: 2rem;
}

.otext .otbot{
    margin-top: 2rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.otext  .otbut{
    margin-top: 2rem;
}

.otext .otbut button{
    padding: 1rem;
    border-radius: 10px;
    border: none;
    background-color: #007bff;
    color: white;
}

.otbot .ot{
   display: flex;
   align-items: center;
   margin-top: 1.5rem;
}

.otbot .ot img{
    width: 50px;
}

.otbot .ot .bprice{
    margin-left: 1.5rem;
}

.otbot .ot .bprice p{
    margin-top: 1rem;
}

/* end offer */

/* best Places */
#best-places{
    width: 100%;
    height: 100%;
    position: relative;
}

.best-places{
    width: 100%;
    min-height: 70rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    font-family: 'Ubuntu';
}

.bp-head{
    margin-top: 5rem;
    font-size: 2.5rem;
}

.bp-head span{
    color: rgb(73, 73, 229);
}

.bp-bot{
    /* border:2px solid black ; */
    width: 75%;
    min-height: 65rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

  /* Styles for the travel card container */
  .travel-card {
    width: 300px;
    height: 52rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Styles for the image */
.travel-card img {
    width: 28rem;
    max-height: 35rem;
    border-radius: 8px;
}

/* Styles for the title and description */
.travel-card h2 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.travel-card p {
    font-size: 1rem;
    color: #555;
}

/* Styles for the button */
.travel-card button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    margin-top: 1.5rem;
    transition: background-color 0.3s ease;
}

.travel-card button:hover {
    background-color: #0056b3;
}

/* end best places */


/* gallery section */

.one-gallery{
    width: 100%;
    position: relative;
}

.one-gallery video::before{
    content: ' ';
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top:0;
    right:0;
    bottom: 0;
    left: 0;
    opacity: 0.6;
    /* z-index: -1; */
}

.one-gallery video{
   width: 100%;
   position: relative;
    /* margin-left: 2rem; */
}


/* end gallery section */

/* contact */
#contact-sec{
    width: 100%;
}

.contact-sec{
    width: 95%;
    height: 70rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem;
    font-family: 'Ubuntu';
}

.contact-head{
    font-size: 2.5rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    z-index: 1000;
}

.contact-head span{
    color: rgb(73, 73, 229);
}

.contact-cont{
    width: 100%;
    min-height: 60rem;
    display: flex;
    margin-top: 2rem;
}

/* contact form */
.contact-form{
  width: 60%;
}

.formbold-mb-5 {
    margin-bottom: 20px;
  }
  .formbold-pt-3 {
    padding-top: 12px;
  }
  .formbold-main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
  }

  .formbold-form-wrapper {
    margin: 0 auto;
    max-width: 550px;
    width: 100%;
    background: white;
  }
  .formbold-form-label {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #07074d;
    margin-bottom: 12px;
  }
  .formbold-form-label-2 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .formbold-form-input {
    width: 100%;
    padding: 12px 24px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    background: white;
    font-weight: 500;
    font-size: 16px;
    color: #6b7280;
    outline: none;
    resize: none;
  }
  .formbold-form-input:focus {
    border-color: #6a64f1;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }

  .formbold-btn {
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    padding: 14px 32px;
    border: none;
    font-weight: 600;
    background-color: #6a64f1;
    color: white;
    cursor: pointer;
  }
  .formbold-btn:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }

  .formbold--mx-3 {
    margin-left: -12px;
    margin-right: -12px;
  }
  .formbold-px-3 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .flex {
    display: flex;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  .w-full {
    width: 100%;
  }
  @media (min-width: 540px) {
    .sm\:w-half {
      width: 50%;
    }
  }
/* end contact form */

/* contact item */
.contact-item{
    width: 40%;
    margin-top: 5rem;
}

.contact-item .contactitem{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    /*border: 2px solid #595959;*/
    padding: 2rem;
    border-radius: 10px;
   }
  
   .contact-item .contactinfo{
    margin-left: 1.5rem;
   }
  
   .contact-item .contactpic img{
    width: 40px;
    margin-top: 0.5rem;
   }
  
   .contact-item .contactinfo p{
    font-size: 1.2rem;
    color: #595959;
    font-family: 'Nanum Gothic', sans-serif;
   }
  
   .contact-item .contactinfo img{
    width: 25px;
    margin-top: 1rem;
    margin-left: 1rem;
    border-radius: 10px;
     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
   }
  
   .contact-item .contactinfo h2{
    color: #1a1a1a;
    letter-spacing: 1px;
    margin-top: 0.5rem;
    font-family: 'Nanum Gothic', sans-serif;
   }
/* end contact item */

/* end contact */